{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="container mt-5">

    <a href="{% url 'servidor_monitorar_alunos' %}" class="btn btn-outline-secondary mb-3">
        Voltar para a Lista
    </a>
    <h2 class="mb-1">Checklist de Documentos</h2>
    <p class="h5 text-muted">Aluno(a): {{ aluno.get_full_name }}</p>
    <p>Status do Dossiê: <strong>{{ estagio.get_status_geral_display }}</strong></p>
    
    <hr class="my-4">

    <h3 class="mb-3">Status dos Documentos</h3>
    
    <div class="list-group shadow-sm">
        {% for doc in documentos %}
        <div class="list-group-item">
            <div class="row align-items-center">
                
                <div class="col-md-5">
                    <strong>{{ doc.get_tipo_documento_display }}</strong>
                </div>

                <div class="col-md-4">
                    {% if doc.status == 'CONCLUIDO' %}
                        <span class="badge bg-success">
                            Pronto
                        </span>
                    {% elif doc.status == 'RASCUNHO' %}
                        <span class="badge bg-danger">
                            Faltando (Aluno)
                        </span>
                    {% elif doc.status == 'REPROVADO' %}
                         <span class="badge bg-danger">
                            Pendente Correção
                        </span>
                    {% else %}
                        <span class="badge bg-warning text-dark">
                            Em Processo ({{ doc.get_status_display }})
                        </span>
                    {% endif %}
                </div>

                <div class="col-md-3 text-end">
                    <a href="{% url 'servidor_visualizar_documento' doc.id %}" class="btn btn-sm btn-outline-secondary" title="Visualizar Documento">
                        Visualizar
                    </a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}